<div class="navbar">
    <div>
        <img src="/assets/images/logo.png" class="logo">
    </div>
    <div class="menu">
        <a routerLink="/" class="menu-item">CUSTOMER MACHINES</a>
        <a routerLink="/" class="menu-item">STANDARD MACHINES</a>
        <a routerLink="/" class="menu-item">DOCUMENTATION</a>
        <a routerLink="/" class="menu-item">ORDERS</a>
        <a routerLink="/" class="menu-item">NEWS</a>
    </div>
    <div class="usermenu">
        <a routerLink="/login" class="font-sonar">a</a>
        <a routerLink="/login" class="font-sonar">x</a>
        <a routerLink="/login" class="font-sonar">d</a>
    </div>
</div>