@import "./variables.scss";

@font-face {
    font-family: sonar;
    src: local("sonar"), url(./assets/icons/fonts/sonar.ttf) format("truetype");
}

.font-sonar {
    font-family: sonar;
}

a {
    color: $secondary;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: $secondary-variant
    }
    &.active {
        color: $primary;
        &:hover {
            color: $primary-variant
        }
    }
}

input[type=button] {
    cursor: pointer;
    font-size: 1em;
    padding: .5rem 2rem .5rem 2rem;
    color: $primary;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 100vmax;
    &:hover {
        background-color: $lightgray;
    }
}

h1 {
    color: $primary;
    font-size: 1.7em;
    font-weight: bold;
}

h2 {
    color: $darkgray;
    font-size: 1em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    color: $darkgray;
    font-weight: normal;
}

h4 {
    color: $darkgray;
    font-weight: bold;
}

p {
    color: $darkgray;
    margin-bottom: 10px;
}