$primary: #395561;
$primary-variant: lighten($primary, 20%);
$secondary: #aea876;
$secondary-variant: darken($secondary, 20%);

$gray: #d4d4d4;
$lightgray: #f0f0f0;
$darkgray: #828282;
$darkergray: #303030;