<app-navbar></app-navbar>
<div class="hero">
    <div class="hero-card">
        <h2>FLASH NEWS</h2>
        <div class="hero-card-nav">
            <a class="font-sonar disabled">b</a>
            <a routerLink="/" class="font-sonar">c</a>
        </div>
        <div>
            <h1>Shangai</h1>
            <h3>01.11.2018</h3>
        </div>
        <div class="hero-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices porttitor velit nec sagittis.</p>
            <p>Duis justo sem, euismod nec ligula sed, molestie commodo augue.</p>
        </div>
        <h4>
            <span class="font-sonar">j</span> Shangai
        </h4>
    </div>
</div>
<div class="container">
    <h1>Customer Machines</h1>
    <div class="products-list">
        <app-product name="BA 1008" serial="180128" vendor="Almac Machines" link="/" img="/assets/images/BA1008.png">
        </app-product>
        <app-product name="CT 20" serial="180177" vendor="Almac Machines" link="/" img="/assets/images/BA1008.png">
        </app-product>
        <app-product name="DECO 20S" serial="180255" vendor="Almac Machines" link="/" img="/assets/images/BA1008.png">
        </app-product>
    </div>
    <input type="button" value="MORE MACHINES"> 
</div>