@import "../../variables.scss";

.hero {
    height: 40vh;
    background-image: url('/assets/images/home.jpg');
    background-position: center;
    background-size: cover;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.hero-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(40vh - 100px);
    overflow: visible;
    margin: 50px;
    margin-right: 60vw;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.hero-card-nav {
    display: flex;
    gap: 20px;
    a {
        color: $primary;
        font-size: 1.2em;
        font-weight: bold;
        &.disabled {
            color: $gray;
        }
    }
}

.hero-card-body {
    overflow: scroll;
}